.my-projects{
    margin: 40px;
    padding: 30px;
    background-color: var(--projects-background);
}

.status-concluido{
    font-weight: bold;
    color: rgb(15, 126, 15);
}
  
.status-emandamento{
    font-weight: bold;
    color: rgb(240, 205, 51);
}

.columnInfo {
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    text-align: justify;
}