header {
  grid-area: cabecalho;
  background-image: var(--background-image);
  background-size: cover;
}

nav {
  grid-area: navegacao;
  background-color: var(--background-nav);
  padding: 10px;
}

main {
  grid-area: conteudo;
}

footer {
  grid-area: rodape;
  background-color: var(--background-nav);
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: var(--base-color);

  background-color: var(--background-color);
  
  margin: auto;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 40px 1fr 60px;
  grid-template-areas: 
      'cabecalho'
      'navegacao'
      'conteudo'
      'rodape'
}
  
h1 {
  border: 4px solid var(--base-color); 
  color: var(--h1-color);
  padding: 20px;
  font-size: 60px;
}
  
ul{
  margin: 0;
  text-align: center;
}
  
li{ 
  display: inline;
  margin-right: 10%;
}

svg{
  width: 25px;
  height: 25px;
  fill: var(--svg-color);
}

svg:hover{
  fill: var(--hover-color);
}

h2{
  font-size: 45px;
  margin-left: 30px;
  margin-bottom: 0px;
  padding-left: 20px;
  border-left: 10px solid var(--h2-color);
}


a{
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: var(--hover-color);
}

.flex-box {
  margin: 0px;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}