.div-habilidades{
    width: 250px;
    margin:auto;
    padding: 20px;
}

.container {
    width: 100%;
    background-color: var(--skill-bar-background);
    border-radius: 10px;
}
    
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
    
.c {width: 70%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.python {width: 50%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;} 
.js {width: 50%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.html {width: 60%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.css {width: 70%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.photoshop {width: 40%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.trab-grupo {width: 60%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.organizacao {width: 70%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.cozinha {width: 70%; background-color: var(--skill-bar-color); border-top-left-radius: 10px; border-bottom-left-radius: 10px;}